@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400..700&display=swap');

:root {
  --primary-color: #077292;
  --bg-index: linear-gradient(90deg, rgba(42, 176, 209, 1) 0%, rgba(28, 142, 199, 1) 50%, rgba(134, 19, 207, 1) 100%);
  --primary-navegation-bg: #2e2a2a;
  --navegation-color: #FFF;
}
