.container {
  width: 100%;
  height: 100%;
  display: flex;
  font-size: 21px;
  font-family: "Domine", serif;

  &__right {
    display: flex;
  }

  &__left {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: 100%;


    font-size: 44px;
    font-weight: bolder;

    background: var(--bg-index);
  }
}
