.navegation {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  color: var(--navegation-color);

  position: fixed;
  height: 100vh;

  padding: 20px;
  background: var(--primary-navegation-bg);

  &__header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    margin-bottom: 50px;
    align-items: center;
    text-align: end;
}

  &__header button {
    margin-left: 25px;
    cursor: pointer;
  }

  &__links {

  }

  &__links ul{
    list-style: none;
  }

  &__links button {
    background: rgba(32, 32, 32, 0.1);
    transition: background 1s ease;
  }

  &__links button:hover {
    background: var(--primary-color);
    color: #FFF;
  }

}
